---
layout: default
title: Categories
header: Posts By Category
---

<div class="row">
  <div class="span12">
    <div class="sidebar">
      <div class="row">
        <div class="span5">


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

</div>
<div class="span3">

<h3> All Categories </h3>
<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>
        </div> <!-- end span3--> 
      </div> <!-- end row--> 
    </div> <!-- end sidebar--> 
  </div> <!-- end row-->
</div> <!-- end span12-->

