---
title: Lab Notebook <a href="{{ site.url }}/atom.xml"><img src="/assets/img/icon-rss.png" alt="feed"></a>
---


{% include header.html %}

    <div class="row">
      <div class="span12">
          <div class="postpreview">
            <div class="row">
              {% for post in site.posts limit:3 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
            <div class="row">
              {% for post in site.posts limit:3 offset:3 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
            <div class="row">
              {% for post in site.posts limit:3 offset:6 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
         </div> <!-- end postpreview -->
       </div> <!-- end span12-->
    </div> <!--end row -->

    <div class="row">
      <div class="span10">
        <h3><i class="icon-chevron-left"></i> <a href="{{ site.url }}/older-posts.html">Older posts</a></h3>
        Entries <a href="{{ site.url }}/categories.html">by category</a> | <a href="{{ site.url }}/tags.html">by tag</a> 
       </div> <!-- end span10-->
    </div> <!--end row -->


{% include footer.html %}

