---
title: Lab Notebook 
redirects: [/archives/, /wordpress/archives/]
---


{% include header.html %}

    <div class="row">
      <div class="span12">
        <div class="sidebar">
          <div class="span3">
            <h4> <a href="https://github.com/cboettig" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;" ><img src="{{site.url}}/assets/img/icon-github.png" alt="github"> Coding </a></h4> 
            {% github_feed cboettig, 4 %}
          </div>
          <div class="span3">
            <h4> <a href="https://twitter.com/cboettig" onClick="recordOutboundLink(this, 'Outbound Links', 'Twitter'); return false;" ><img src="{{site.url}}/assets/img/icon-twitter.png" alt="twitter"> Discussing </a></h4> 
            {% twitter_feed cboettig, 4 %}
          </div> 
          <div class="span3">
            <h4> <a href="http://www.mendeley.com/profiles/carl-boettiger" onClick="recordOutboundLink(this, 'Outbound Links', 'Mendeley'); return false;"><img src="{{site.url}}/assets/img/icon-mendeley.png" alt="mendeley"> Reading </a></h4> 
            {% mendeley_feed 634301/theoretical-ecology, 3 %}
          </div> 
         </div>
      </div> 
    </div>


    <div class="row">
      <div class="span12">
         <hr>
         <div class="sidebar">
            <div class="span3">
               <h4> <a href="{{ site.url }}/atom.xml"
               onClick="recordOutboundLink(this,
               'Outbound Links', 'RSS'); return false;"
               ><img src="/assets/img/icon-rss.png" alt="feed">Entries</a></h4>
            </div>
          </div>
          <div class="span9"> <br/> </div>


          <div class="postpreview">
            <div class="row">
              {% for post in site.posts limit:3 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
            <div class="row">
              {% for post in site.posts limit:3 offset:3 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
            <div class="row">
              {% for post in site.posts limit:3 offset:6 %}
                <div class="span3">
                  {% include postexcerpt.html %}
                </div>
              {% endfor %}
            </div>
         </div> <!-- end postpreview -->
       </div> <!-- end span12-->
    </div> <!--end row -->




    <div class="row">
      <div class="span12">
        <div style="font-weight:bold; text-align:center;">
            <p> <i class="icon-chevron-left"></i> <a href="{{ site.url }}/archives.html">Archives by date</a></p> 
            <p> <i class="icon-list"></i> <a href="{{ site.url }}/categories.html">All entries by category</a> </p>
            <p> <i class="icon-tag"></i> <a href="{{ site.url }}/tags.html">All entries by tag</a> </p>
        </div>
      </div> <!--end span12 -->
    </div> <!--end row -->




{% include footer.html %}

