
<div class="article-metadata">

  <p>
  <span class="article-date">
    <i class="fa fa-calendar"></i>
    {{ with $.Date }}
    <time datetime="{{ . }}" itemprop="datePublished">
      {{ .Format $.Site.Params.date_format }}
    </time>
    {{ else }}
    <time datetime="{{ $.GitInfo.AuthorDate }}" itemprop="dateModified">
      Updated: {{ $.GitInfo.AuthorDate.Format $.Site.Params.date_format }}
    </time>
    {{ end }}
  </span>
  </p>
    

  <p>
  {{ if isset $.Params "categories" }}
  {{ $categoriesLen := len $.Params.categories }}
  {{ if gt $categoriesLen 0 }}
  <span class="article-categories">
    <i class="fa fa-folder"></i>
    {{ range $k, $v := $.Params.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize | lower }}">{{ . }}</a
    >{{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}
  </p>
  
  <p>
  {{ if isset $.Params "tags" }}
  {{ $tagsLen := len $.Params.tags }}
  {{ if gt $tagsLen 0 }}
  <span class="article-tags">
    <i class="fa fa-tags"></i>
    {{ range $k, $v := $.Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize | lower }}">{{ . }}</a
    >{{ if lt $k (sub $tagsLen 1) }}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}
  </p>

</div>
