/* My additional customizations to the Twitter Bootstrap CSS */

/* Icons 
---------------------------------*/
.socialicons {
  color: @emphasis; 
}
.socialicons a {
  color: @bodytext; 
}


h3.notebook-category {
  line-height: 15px;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid @backgroundHighlights;
  font-size: 13px;
}
.footer p {
  margin-bottom: 0;
  color: @bodytext;
}

/* highlight (shrink fontsize for code)
-------------------------------------------------- */
.highlight code {
  font-size: 13px;
}
.highlight code {
  font-size: 13px;
}


/* Sidebar
-------------------------------------------------- */
.sidebar {
  margin-left: 45px;
  padding: 35px 35px 36px;
  border-left: 1px solid @backgroundHighlights;
  font-size: 13px;
}
.sidebar p {
  margin-bottom: 0;
  font-size: 13px;
}

.sidebar h4 a {
  color: @headingsColor;
  font-weight: bold;
}

/* Notebook feeds
-------------------------------------------- */

.feed {
  margin-left: 45px;
  padding: 35px 35px 36px;
  border-left: 1px solid @backgroundHighlights;
  font-size: 11px;
}
.feed p {
  margin-bottom: 0;
  font-size: 11px;
}

.feed h4 a {
  color: @headingsColor;
  font-weight: bold;
}

/* excerpt 
-----------------------------------------------------*/
div.excerpt 
{
  height:200px;
  overflow:hidden;
}

.excerpt h1, .excerpt h2, .excerpt h3, .excerpt h4, .excerpt h5, .excerpt h6 {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}



/* postpreview
-------------------------------------------------- */
.postpreview {
  margin-left: 45px;
  padding: 35px 35px 36px;
  border-left: 1px solid @backgroundHighlights;
  font-size: .85em;
  line-height: 1.5em;
  text-align: justify;
}
.postpreview h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}
.postpreview p {
  margin-bottom: 0;
  color: @bodytext;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
}
.postpreview blockquote {
  margin-bottom: 0;
  color: @bodytext;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
}


/* Make markdown with floatright in the alt-text into a nice text-wrapped image 
--------------------------------------------------------------------------------*/

img[alt=floatright] { 
  float:right;
  margin: 10px 10px; 
}

/* Misc
-------------------------------------------------- */

img {
  max-width: 100%;
}


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
}



/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 90px;
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}


/* Space out sub-sections more
-------------------------------------------------- */
section {
  padding-top: 60px;
}



/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}
/* Specific jumbotrons
------------------------- */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}




/* Search 
-----------------------------*/

/* SEARCH */

#search { 

  position: relative;
  margin-bottom: 20px;
  
  .form-search  { 

      position: absolute; top: -1px; right: 5px;

      text-align: right; padding: 6px 0 0; margin: 0 0 6px; 
      label       { padding: 4px 10px 0 0 ; }
      input       { height: 14px; font-size: 12px; }
      .icon-remove  { position: absolute; right: 4px; top: 10px; }

    }
    
}

#search-results {

  display: none;
  overflow: scroll;
  background: @white;

  padding: 6px 0;
  
  max-height: 800px;

  .search-entry { 
    
      padding: 12px 0 10px; 
      border-bottom: 1px dotted @grayLight;
      
      &.selected  { background: @grayLighter; }
      
      a           { color: @textColor; }
      .title      { font-family: @sansFontFamily; -webkit-font-smoothing: antialiased; font-size: @baseFontSize; line-height: @baseLineHeight; background: none; }
      .title a    { color: @textColor !important; }
      .timestamp  { font-size: 11px; color: @grayLight; }
      .date       { display: none; }
      .description  { margin-bottom: 6px; }

    }

    &.thinking {
        display: block;
        height: 60px;  
      }
      
}



