#dsq-content #dsq-comments .dsq-comment-body {
padding: 0.571em 0.786em; /* Space between comment text and border */
background: @background; /* Comment body background color */
min-height:70px; /* Minimum comment body box height */
border-bottom:@comments 1px solid; /* Comment body bottom border */
border-left:@comments 1px solid; /* Comment body left border */
border-right:@comments 1px solid; /* Comment body right border */
border-top:@comments 1px solid; /* Comment body top border */
font-family: @baseFontFamily; 
font-size: @baseFontSize; 
color: @textColor;
}

.dsq-dc-logo {
  display: none; /* Turns off display of disqus logo */
}
