      <footer class="footer">
         <div class="row">
            <div class="span4">
              <a href="mailto:cboettig@gmail.com"><i class="icon-envelope"></i></a>
              <a href="https://twitter.com/cboettig"><img src="{{site.url}}/assets/img/icon-twitter.png" alt="twitter"> </a> 
              <a href="https://github.com/cboettig"><img src="{{site.url}}/assets/img/icon-github.png" alt="github"></a> 
              <a href="{{ site.url }}/atom.xml"><img src="/assets/img/icon-rss.png" alt="feed"></a>
            </div>
            <div class="span2" style="text-align:center">
              <a rel="license" href="http://onsclaims.wikispaces.com/"><img src="http://onsclaims.wikispaces.com/file/view/ons-aci2-icon.png" alt="ONS"></a> <br><br>
              <p> <a class="btn btn-mini" href="https://github.com/cboettig/labnotebook">view logs</a></p>
            </div>
            <div class="span4">
              <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/l/zero/1.0/88x31.png" alt="CC0" style="float:right"></a> 
            </div>
        </div>
      </footer>
    </div><!-- /container -->
    
    {% include javascript.html %}
    {% include analytics.html %}
  </body>
</html>
