<footer class="footer">
  <form style="font-size:10px">
    <div class="pull-right">
      <span rel="tooltip" title="switch to dark theme">
        <a onclick="switch_style('dark'); recordOutboundLink(this, 'Outbound Links', 'dark theme'); return false;" name="theme" value="dark" id="dark" class="btn btn-mini"><i class="icon-adjust"></i></a> 
      </span>
      <span rel="tooltip" title="switch to light theme">
        <a onclick="switch_style('light'); recordOutboundLink(this, 'Outbound Links', 'light theme'); return false;" name="theme" value="light" id="light" class="btn btn-mini"><i class="icon-certificate"></i></a> 
      </span>
    </div>
  </form>
          <div class="row">
            <div class="span4 socialicons" style="font-size:20px" vocab="http://xmlns.com/foaf/0.1/" typeof="Person" resource="#me">
                <a property="account" alt="email" href="mailto:{{site.author.email}}" onclick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><i class="icon-envelope-alt" rel="tooltip" title="email me"></i></a>
                <a property="account" alt="twitter" href="https://twitter.com/{{site.author.twitter}}" onclick="recordOutboundLink(this, 'Outbound Links', 'Twitter'); return false;"><i class="icon-twitter" rel="tooltip" title="follow me on twitter (reading, discussing)"></i></a> 
              <!--              <a property="account" href="https://plus.google.com/{{site.author.gplus}}" onclick="recordOutboundLink(this, 'Outbound Links', 'GPlus'); return false;"><i class="icon-google-plus"></i></a> -->
                <a property="account" alt="github" href="https://github.com/{{site.author.github}}" onclick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><i class="icon-github" rel="tooltip" title="follow me on Github (code, research)"></i></a> 
              <!--              <a property="account" href="http://www.mendeley.com/profiles/{{site.author.mendeley}}" onclick="recordOutboundLink(this, 'Outbound Links', 'Mendeley'); return false;"><img src="/assets/img/icon-mendeley.png" alt="mendeley" /></a>  -->
                <a alt="rss" href="/atom.xml" onclick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><i class="icon-rss" rel="tooltip" title="subscribe to RSS feeds for my open lab notebook"></i></a>
            </div>
            <div class="span2" style="text-align:center">
              <span rel="tooltip" 
                    title="An Open Notebook Science (ONS) project claim: Entry provides all content (AC) immediately (I) or without significant delay.  See link for details"><a href="http://onsclaims.wikispaces.com/" 
                onclick="recordOutboundLink(this, 'Outbound Links', 'ONS_claim'); return false;" 
                ><img src="http://onsclaims.wikispaces.com/file/view/ons-aci2-icon.png" alt="ONS" /></a>
              </span> 
              <span rel="tooltip" title="This site uses linked data semantics. Click to extract as RDF XML.">
             <a class="btn btn-mini" style="font-size: .8em" 
               href="http://any23.org/?format=rdfxml&validate=validate&uri={{ site.url }}{{ page.url }}"><i 
                 class="icon-cloud-download" onclick="recordOutboundLink(this, 'Outbound Links', 'RDF'); return false;"></i> RDF</a>
             </span>

            </div>
            <div class="span4">
              <a rel="license" property="http://creativecommons.org/ns#license" href="http://creativecommons.org/publicdomain/zero/1.0/" onclick="recordOutboundLink(this, 'Outbound Links', 'CC0'); return false;"><img src="http://i.creativecommons.org/l/zero/1.0/88x31.png" alt="CC0" style="float:right"/></a> 
            </div>
        </div>
      </footer>
    </div><!-- /container -->

<!-- COinS metadata (for citation managers like Zotero etc), goes in body text -->
<span
    class="Z3988" 
    title="ctx_ver=Z39.88-2004
    &amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc
    &amp;rfr_id=info%3Asid%2Focoins.info%3Agenerator
    &amp;rft.title={{ page.title}}
    &amp;rft.creator={{site.author.name}}
    &amp;rft.date={{ page.date | date: "%Y-%m-%d" }}
    &amp;rft.language=EN
    &amp;rft.rights=CC0
    &amp;rft_id={{site.url}}{{page.url}}">
</span>


    {% include javascript.html %}
    {% include analytics.html %}
  </body>
</html>
