<head prefix="dc: http://purl.org/dc/terms/ og: http://ogp.me/ns#">
  <meta charset="utf-8" /> 
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include metadata.html %}
  <!-- CSS Stylesheets (toggled with javascript) -->
  <link href="/assets/css/light.css" rel="stylesheet"
        type="text/css" id="stl" title="light" />
  <link href="/assets/css/dark.css" rel="alternate stylesheet" 
        type="text/css" title="dark" />
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet" 
        type="text/css"/>
  <!-- Javascript needed for theme toggle, load immediately -->
  <script type="text/javascript" src="/assets/js/switch-css.js"></script>
  <script type="text/javascript">
    set_style_from_cookie(); 
  </script>
</head>

