<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Carl Boettiger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My open lab notebook">
    <meta name="author" content="Carl Boettiger">

    <!-- Le styles -->
    <link href="{{ site.url }}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/solarized.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/docs.css" rel="stylesheet">

    <script type="text/javascript" src="{{ site.url }}/assets/js/jquery.js"></script>
  </head>
  <body>

  {% include navbar.html %}

  <div class="container"> <!-- Twitter bootstrap has all body content in a container -->

<!-- Custom masthead (big titles) -->
 
<header class="jumbotron subhead">
  <div class="inner">
    <h1 class="entry-title">{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</header>

<hr class="soften">



