<!-- HTML5 metadata -->
<meta name="keywords" content="{{ page.tags | join: ', ' }}" />
<meta name="description" content="{{ page.description }}" />
<meta property="dc:title" content="{{ page.title }}" />
<meta property="dc:creator" content="{{ site.author.name }}" />
<meta property="dc:date" content="{{ page.date }}" />
<meta property="dc:format" content="text/html" />
<meta property="dc:language" content="en"/>
<meta property="dc:identifier" content="{{ page.url }}" />
<meta property="dc:rights" content="CC0" />
<meta property="dc:source" content="{{ site.title }}" />
<meta property="dc:subject" content="Ecology" /> 
<meta property="dc:type" content="website" /> 

