

  {% include header.html %}

      <div class="row">
        <div class="span8">
          {{ content }}
        </div>


        <!-- Custom sidebar -->      
        <div class="span4">
          <div class="sidebar">
            Posted on
            <time pubdate datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>. <br>
            <span itemprop="keywords">
            {% for tag in page.tags %}
              <a rel="tag" class="tag" href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}-tag">#{{ tag }}</a>
              {% unless page.tags.last == tag %}, {% endunless %}
            {% endfor %}
            </span>
          </div>
        </div>
      </div>

  {% include disqus.html %}
  {% include footer.html %}
