<aside prefix="og:http://ogp.me/ns/article#">
  <p> <i class="icon-calendar"></i>
    <time datetime="{{ page.date | date_to_xmlschema }}" 
    property="dc:created">{{ page.date | date_to_string }}</time>. 
  </p>
  <br />

  {% if page.previous %}
    <p><a class="btn btn-mini" rel="prev" href='{{ page.previous.url }}'><i class="icon-chevron-left"></i> prev</a>
  {% endif %}
  {% if page.next %}
  <a class="btn btn-mini" rel="next" href='{{ page.next.url }}'>next <i class="icon-chevron-right"></i></a></p>
  {% else %}
    </p>
  {% endif %}
  <br />


  <p> <a  onclick="recordOutboundLink(this, 'Outbound Links', 'history'); 
            return false;" 
          class="btn btn-mini" 
          href="{{ site.repo }}/commits/master/_posts/{{page.path}}"><i class="icon-time"></i> history</a></p>


  <p> Posted in 
    {% for category in page.categories %} 
      <a rel="dc:subject" class="category" 
         href="{{ site.baseurl }}/categories.html#{{ category | cgi_escape }}">{{ category }}</a>
      {% unless page.categories.last == category %}, {% endunless %}
      {% endfor %}</p>


  <p> tags: 
    {% for tag in page.tags %}
      <!-- http://schema.org/BlogPosting/keywords -->
      <a rel="og:tag" class="tag" 
        href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}">#{{ tag }}</a>
      {% unless page.tags.last == tag %}, {% endunless %}
      {% endfor %}</p>


  {% if site.pageviews %} <p style="font-style:italic"> pageviews: {% pageviews %}{{page.url}}{% endpageviews %}</p>{% endif %}
  <br/>
  <br/>
  <p><small>
    Last modified: <time 
                  datetime="{{ page.path | git_modified | date_to_xmlschema }}" 
                  property="dc:modified">{{ page.path | git_modified | date_to_string }}</time></small>
  </p>
  <p><small> SHA Hash: <a href="{{ site.repo }}/commit/{{page.path | git_sha }}/_posts/{{ page.path }}"> {{ page.path | git_sha }}</a></small></p>
  
  <br/>
  <br/>

  {% if page.code %}
  {% include collapse %}
  {% endif %}


</aside>
