<aside prefix="dc: http://purl.org/dc/terms/ og:http://ogp.me/ns/article#">
<i class="icon-calendar"></i>
<time datetime="{{ page.date | date_to_xmlschema }}" 
      property="dc:created">{{ page.date | date_to_string }}</time>.
<br />
{% include nextprevious.html %}
<br />
{% if defined?(page.modified) %} <!-- Is thus actually accessing page.modified's value? -->
  Last modified 
  <time datetime="{{ page.modified | date_to_xmlschema }}" 
  property="dc:modified">{{ page.modified | date_to_string }}</time>
{% endif %}

<p> <a class="btn btn-mini" href="{{ site.repo }}/commits/master/_posts{{page.url | github_link }}"><i class="icon-time"></i> history</a></p>
<p> Posted in {% include pagecategories.html %} </p> 
<p> tags: {% include pagetags.html %} </p>

{% if site.sidebar_pageviews  %}
<p style="text-align:right; font-style:italic"> pageviews: {% pageviews %}{{page.url}}{% endpageviews %} </p>
{% endif %}
</aside>
