// Bootstrap brand color customization

/*     brand Colors  -- adapted to Berkeley Palette            */

$brand-primary:              #3B7EA1 !default;
$brand-info:                 #FDB515 !default;
$brand-success:              #00A598 !default;
$brand-warning:              #D9661F !default;
$brand-danger:               #ED4E33 !default;
$brand-rose:                 #EE1F60 !default;
$brand-inverse:              $black-color !default;
