{{ define "main" }}

<!-- Optional Header Image -->
{{ if .Params.header.image }}
<div class="article-header">
  <img src="{{ "/img/" | relURL }}/{{ .Params.header.image }}" class="article-banner" itemprop="image">
  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}


  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}


  <div class="row"><div class="col-md-11 col-md-offset-1">
  
    <div class="row">
    {{ range first 3 .Paginator.Pages }}
    <div class="col-md-4">
      <h4><a href="{{ .RelPermalink }}">{{ .Date.Format $.Site.Params.date_format }}</a></h4>
      {{ if .Title }}<h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>{{ end }}
      <div class="article-style">
        {{  .Summary | markdownify }}
      </div>
    </div>
    {{ end }}
    </div>

   {{ if gt (len .Paginator.Pages) 3 }}
    <div class="row">
    {{ range after 3 .Paginator.Pages }}
    <div class="col-md-4">
      <h4><a href="{{ .RelPermalink }}">{{ .Date.Format $.Site.Params.date_format }}</a></h4>
      {{ if .Title }}<h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>{{ end }}
      <div class="article-style">
        {{  .Summary | markdownify }}
      </div>
    </div>
    {{ end }}
    </div>
  {{ end }}
  
  {{ partial "pagination" . }}

  <br />  
  
     <!-- List pages can get Content and yaml metadata from an _index.md -->
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  
  </div></div>


{{ end }}
