<aside prefix="og:http://ogp.me/ns/article#">
  
  
  {{ partial "article_metadata.html" . }}
 
  <br />
  
  <p><a class="btn btn-default" rel="prev" href='{{ with .PrevInSection }}{{ .Permalink  }}{{ end }}'><i class="fa fa-chevron-left"></i> prev</a>
    <a class="btn btn-default" rel="next" href='{{ with .NextInSection }}{{ .Permalink }}{{ end }}'>next <i class="fa fa-chevron-right"></i></a></p>

  <br />

<p> <a class="btn btn-default" 
         href='https://github.com/{{ .Site.Params.github}}/{{ .Site.Params.repo }}/blob/{{ .Site.Params.branch }}/content/{{ .File.Path | replaceRE ".html$" ".Rmd"}}'><i class="icon-rlogo"></i> RMarkdown</a></p>


  <p> <a class="btn btn-default" 
         href='https://github.com/{{ .Site.Params.github}}/{{ .Site.Params.repo }}/commits/{{ .Site.Params.branch }}/content/{{ .File.Path | replaceRE ".html$" ".Rmd"}}'><i class="fa fa-clock-o"></i> History</a></p>

 {{ partial "git_sha" . }}

</aside>

