<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.role }}<meta name="description" content="{{ . }}">{{ end }}

  <title>{{ .Site.Title }}</title>

	<link rel="apple-touch-icon" sizes="76x76" href="{{ "img/favicon.png" | relURL }}" />
	<link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  
  <!-- CSS Files -->
  {{ $style := resources.Get "sass/material-kit.scss" | toCSS | minify | fingerprint }}
  <link href="{{ $style.Permalink }}" rel="stylesheet">
  <link href="/css/demo.css" rel="stylesheet" />

  <!-- Additional icons: fa-docker, academicons, R-logo  -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/gaborcsardi/r-font/master/rlogo.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.0/css/academicons.min.css">

  <link rel="stylesheet" href="{{ "/highlight/styles/github.css" | relURL }}">
  

  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
  {{ end }}
  <link rel="feed" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="canonical" href="{{ .Permalink }}">



</head>
