<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href=" {{ .Site.BaseURL | relURL }}">
          {{.Site.Title }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link"
               href="{{ .URL | relURL }}"
               {{ if $.IsHome }}data-target="{{ .URL }}"{{ end }} 
               title = "{{ .Name }}">{{ .Pre }} {{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
</nav>