---
layout: default

---


<div class="row">
  <div class="span2">
<ul class="nav nav-list">
<li class="nav-header">Active Projects</li>
<li 
  {% if page.url == '/projects/nonparametric-bayes.html' %} 
    class="active" 
  {% endif %} ><a href="/projects/nonparametric-bayes.html">Nonparametric Bayes</a></li>
<li {% if page.url == '/projects/multiple-uncertainty.html' %} 
    class="active" 
  {% endif %} ><a href="/projects/multiple-uncertainty.html">Multiple Uncertainty</a></li>
<li {% if page.url == '/projects/warning-signals.html' %} 
    class="active" 
  {% endif %} ><a href="/projects/warning-signals.html">Early Warning Signals</a></li>
<li {% if page.url == '/projects/pdg-control.html' %} 
    class="active" 
  {% endif %} ><a href="/projects/pdg-control.html">Pretty Darn Good Control</a></li>
<li  {% if page.url == '/projects/open-science.html' %} 
    class="active" 
  {% endif %}><a href="/projects/open-science.html">Open Science</a></li>
<li  {% if page.url == '/projects/ropensci.html' %} 
    class="active" 
  {% endif %}><a href="/projects/ropensci.html">ropensci</a></li>
<li  class="nav-header">Earlier Projects</li> 
<li  {% if page.url == '/projects/adaptive-dynamics.html' %} 
    class="active" 
  {% endif %}><a href="/projects/adaptive-dynamics.html">Adaptive Dynamics</a></li>
<li  {% if page.url == '/projects/phylogenetics.html' %} 
    class="active" 
  {% endif %}><a href="/projects/phylogenetics.html">Phylogenetics</a></li>
</ul>
  </div>
  <div class="span10">
    <div class="borderleft" style="font-size: 13px;">
    {{ content }}
    </div>
  </div>
</div>
