---
layout: page

---


<div class="row">
  <div class="span2">
<ul class="nav nav-list">
<li class="nav-header">Active Projects</li>
<li><a href="/projects/nonparametric-bayes">Nonparametric Bayes</a></li>
<li><a href="/projects/multiple-uncertainty">Multiple Uncertainty</a></li>
<li><a href="/projects/warning-signals">Early Warning Signals</a></li>
<li><a href="/projects/open-science">Open Science</a></li>
<li><a href="/projects/ropensci">ropensci</a></li>
<li class="nav-header">Earlier Projects</li> 
<li><a href="/projects/adaptive-dynamics">Adaptive Dynamics</a></li>
<li><a href="/projects/phylogenetics">Phylogenetics</a></li>
</ul>
  </div>
  <div class="span10">
    {{ content }}
  </div>
</div>
