---
layout: default

---

<div class="row cv">
  <div class="col-md-6 col-md-offset-1">
    <article>

      {{ content }}

    </article>
  </div>
  <div class="col-md-4" style="border-left: 1px solid #eee8d5;"><!-- sidebar -->   
    <p> <i class="icon-calendar"></i> updated: <time 
          datetime="{{ page.name | git_mod }}" 
          property="dc:modified">{{ page.name | git_mod | date_to_string }}</time>
    <br/>
    <small> <i class="icon-barcode"></i> <a href="https://github.com/cboettig/labnotebook/issues/89" title="Click for an explanation of this"> SHA Hash: </a><br />
       <a href="https://github.com/cboettig/{{ site.repo }}/commit/{{ page.path | git_sha }}/{{ page.path }}"> {{ page.path | git_sha }}</a></small>
    </p>
    <h4>Profiles and Metrics</h4>
    <p>
    <i class="ai ai-impactstory"></i><a href="https://impactstory.org/CarlBoettiger"> ImpactStory </a>
    <br/>
		<i class="ai ai-google-scholar"></i><a href="http://scholar.google.com/citations?hl=en&user=zj2rRtEAAAAJ"> Google Scholar </a>
    <br/>
    <i class="ai ai-orcid"></i><a property="http://purl.org/spar/datacite/orcid" 
       href="https://orcid.org/0000-0002-1642-628X" 
       {{"https://orcid.org/0000-0002-1642-628X" | track_link}} > ORCID: 0000-0002-1642-628X</a>
    </p>
    <br/>
    <br/>
    <p></i><a href="http://www.carlboettiger.info/vita" class = "btn btn-default"><i class="fa fa-file-text-o fa-1x"></i>Vita (Carl Boettiger)</a>
    </p>

  
  </div>
</div>
