---
layout: default
---

<div class="row">
  <div class="span7 offset1">
    <article>
    {{ content }}
    </article>
  </div>
  <div class="span4">
    <div class="sidebar">
<ul class="nav nav-list">
<li class="nav-header">Active Projects</li>
<li {% if page.url == '#about' %} class="active" {% endif %} ><a href="#about">About</a></li>
<li {% if page.url == '#installation' %} class="active" {% endif %} ><a href="#installation">Installation</a></li>
<li {% if page.url == '#usage' %} class="active" {% endif %} ><a href="#usage">Usage</a></li>
<li {% if page.url == '#license' %} class="active" {% endif %} ><a href="#license">License</a></li>
<li {% if page.url == '#support' %} class="active" {% endif %} ><a href="#support">Support</a></li>
</ul>

    </div>
  </div>
</div>

{% include disqus.html %}

