---
layout: default
---

<div class="row">
  <div class="span7 offset1">
    <article>
    {{ content }}
    </article>
  </div>
  <div class="span4">
    <div class="sidebar">
<ul class="nav nav-list">
<li class="nav-header">Sections</li>
<li><a href="#about">About</a></li>
<li><a href="#installation">Installation</a></li>
<li><a href="#usage">Usage</a></li>
<li><a href="#license">License</a></li>
<li><a href="#support">Support</a></li>
</ul>

    </div>
  </div>
</div>

{% include disqus.html %}

