---
layout: default
title: Vita 

---

<div class="row cv">
  <div class="col-md-6 col-md-offset-1">
    <article>

      {{ content }}

    </article>
  </div>
  <div class="col-md-4" style="border-left: 1px solid #eee8d5;"><!-- sidebar -->   
    <p> Vita last updated: </p>
    <p><i class="icon-calendar"></i> <time 
          datetime="{{ page.name | git_mod }}" 
          property="dc:modified">{{ page.name | git_mod | date_to_string }}</time></p>
    <br />
    <p></i><a href="http://www.carlboettiger.info/assets/files/cv.pdf"  
       onclick="var that=this;
       _gaq.push(['_trackEvent','Download','PDF',this.href]); 
       setTimeout(function(){location.href=that.href;},200);
       return false;" class = "btn btn-default"><i class="fa fa-file-text-o fa-1x"></i> Download PDF</a>
    </p>
    <br />
    <p><small> <i class="icon-barcode"></i> <a href="https://github.com/cboettig/labnotebook/issues/89" title="Click for an explanation of this"> SHA Hash: </a><br />
       <a href="https://github.com/{{ site.repo }}/commit/{{ page.path | git_sha }}/{{ page.path }}"> {{ page.path | git_sha }}</a></small>
    </p>
    <br />
    <br />
    <a property="http://purl.org/spar/datacite/orcid" 
       href="https://orcid.org/0000-0002-1642-628X" 
       {{"https://orcid.org/0000-0002-1642-628X" | track_link}} ><img src="/assets/img/orcid.ico"/> https://orcid.org/0000-0002-1642-628X</a>
    <br />
    <a href="https://impactstory.org/CarlBoettiger"><img src="/assets/img/impactstory.ico"/> ImpactStory </a>
    <br />
    <a href="http://scholar.google.com/citations?hl=en&user=zj2rRtEAAAAJ"><img src="/assets/img/google-scholar.png"/> Google Scholar </a>
  </div>
</div>
